*{
    font-family: Arial, Helvetica, sans-serif;
}
.index {
    position: relative;
}
.index #naslov1{
    position: absolute;
    top: 6%;
    text-align:center;
    width: 100%;
    color: #fff;
    font-size: 600%;
    font-family: mojfont;
    letter-spacing: 30px;
    
}
.index img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow:10px 10px 10px 10px  rgba(140, 253, 96, 0.233);
    margin-bottom: 30px;
}
.div1 h3 {
position: absolute;
text-align: center;
width: 100%;
top:80%;
color:white;
font-size: 350%;
letter-spacing: 10px;
font-family: mojfont;

}
.div1-1 {
    color: #fff;
    font-family: mojfont1;
    width: 100%;
    text-align: center;
    font-size: 35px;

}
.div2 center{
    font-family:mojfont1;
    font-size: 35px;
}
.div2 p{
    font-family: mojfont1;
    font-size: 20px;
    width: 47%;
    text-align: justify;
    position: absolute;
    letter-spacing: 1px;
}
@font-face{
    font-family:mojfont1;
    src: url(../font/RobotoCondensed-Regular.ttf);
}
.img1 img{
    height: auto;
    width: 50%;
    float: right;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow:10px 10px 10px 10px  rgba(140, 253, 96, 0.233);
}

.logo img{
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10%;
}
